version: '3.7'

services:
  postgres:
    image: postgres:10.4-alpine
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
      PGDATA: /data
    volumes:
      - $PWD/docker/volumes/postgres:/data
    restart: always
    networks:
      omaha:
        ipv4_address: 10.10.10.10

  redis:
    image: redis:3.2.11-alpine
    hostname: redis
    volumes:
      - $PWD/docker/volumes/redis:/data
    networks:
      omaha:
        ipv4_address: 10.10.10.11

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: stable
    privileged: true
    links:
      - postgres
      - redis
    networks:
      omaha:
        ipv4_address: 10.10.10.12
    ports:
      - '80:80'
    volumes:
      - $PWD/docker/volumes/web:/srv/omaha/omaha_server/static
    environment:
      HOST_NAME: $HOST_NAME
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    sysctls:
      net.core.somaxconn: 1024
#    secrets:
#      - cup_key
#
#secrets:
#  cup_key:
#    file: cup.key


networks:
    omaha:
      # use the bridge driver, but enable IPv6
      driver: bridge
      ipam:
          driver: default
          config:
            - subnet: 10.10.10.0/24