[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "==0.5.3"
coverage = "==4.0.3"
django-debug-panel = "*"
django-debug-toolbar = "==1.11.0"
django-nose = "==1.4.6"
factory_boy = "==2.8.1"
freezegun = "==0.3.7"
mock = "==2.0.0"
moto = "==1.3.8"
nose = "*"
nose-progressive = "==1.5.1"
pyquery = "==1.2.13"
python-coveralls = "*"
tox = "*"
xmlunittest = "*"

[packages]
bitmapist = "==3.97"
boto = "==2.49.0"
boto3 = "==1.9.77"
botocore = "==1.12.133"
celery = {extras = ["redis"],version = "==4.3.0"}
clom = "==0.8.0a1"
django = "==2.2.0"
django-absolute = "*"
django-ace = "*"
django-bootstrap3 = "*"
django-bower = "==5.1.0"
django-cacheops = "*"
django-dynamic-preferences = "==1.7.0"
django-extensions = "==2.1.6"
django-filter = "==2.1.0"
django-nvd3 = "==0.9.7"
django-redis = "*"
django-select2 = "==6.3.1"
django-ses = "==0.8.2"
django-storages = "==1.6.5"
django-suit = "==0.2.26"
django-tables2 = "==2.0.6"
django-tinymce = "==2.6.1"
django-versionfield3 = "==0.1.8"
djangorestframework = "==3.9.1"
ecdsa = "==0.13.3"
funcsigs = "*"
furl = "==0.4.93"
future = "==0.16.0"
ipaddress = "*"
jsonfield = "==1.0.3"
lxml = "==4.3.3"
markdown = "<3.0.0"
msgpack-python = "==0.4.7"
paver = "==1.2.4"
protobuf = "*"
protobuf3-to-dict = "*"
psycopg2-binary = "==2.8.4"
python-magic = "==0.4.15"
pytz = "==2016.4"
raven = "*"
redis = "*"
requests = "*"
singledispatch = "==3.4.0.3"
six = "==1.10.0"
uwsgi = "*"

[requires]
python_version = "3.7"
